.profile-card{
    display: flex;
    background-color: var(--secondary-color);
}

#account-management{
    margin: auto;
    width: 20vh;
    padding: 40px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#user-box{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    width: 50vw;
    padding: 15px;
    border-radius: 10px;

    background-color: var(--secondary-color);
    opacity: 0.8;
}

#profile-pic{
    margin: auto;
    height: 100px;
    aspect-ratio: 1;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#name-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#selection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 1px;
    background-color: var(--secondary-color);
}

#selection button{
    background-color: var(--main-color);
    border: solid 3px var(--secondary-color);
    cursor: pointer;
}

#selection button:hover{
    background-color: green;
    border: solid 3px var(--secondary-color);
    cursor: pointer;
}